<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>https://github.com/alen-li-paradise/MathTime_Test/blob/master/MathTime.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                     <string>com.c7new.stage</string>
                     <key>bundle-version</key>
                    <string>7.0.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>C7-new-STAGE</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>